<form [formGroup]="registrationForm" autocomplete="off" >
  <h2 class="text-center text-primary">Sign up</h2>
  <hr>
  <div class="form-group">
    <input class="form-control" type="text" placeholder="Username" formControlName="Username">
  </div>
  <div class="form-group">
    <input class="form-control" type="password" placeholder="Password" formControlName="Password">
  </div>
</form>
<div class="form-group text-center">
  <button [disabled]="!registrationForm.valid" class="btn btn-success mr-2 " (click)="register()">Register</button>
  <button [disabled]="!registrationForm.valid" class="btn btn-default mr-2 " (click)="cancel()">Cancel</button>
</div>
